<li class="bot">
	{{if ttsIcon}}<div class="avata tts" onclick="javascript:chat.speechText(this);"></div>
	{{else}}<div class="avata"></div>
	{{/if}}
	<div class="name">{{:botname}}</div>
	<div class="bubble">
		<div class="time">{{:time}}</div>
		<div class="body">{{:body}}</div>
	</div>
</li>