<div class="carousel-form">
	<div id="carousel{{:~root.botBubbleId}}_{{:#getIndex()}}" class="carousel slide" data-ride="carousel" data-interval="false">
	    <!-- Wrapper for slides -->
	    <div class="carousel-inner" role="listbox">
	    	{{if contents tmpl="dialogTmpl" /}}
	    </div>
	    <!-- Controls -->
	    <a class="left carousel-control{{if contents.length < 2}} hidden{{/if}}" href="#carousel{{:~root.botBubbleId}}_{{:#getIndex()}}" role="button" data-slide="prev">
	        <span class="glyphicon glyphicon-chevron-left arrow_carrot-left" aria-hidden="true"></span>
	        <span class="sr-only">Previous</span>
	    </a>
	    <a class="right carousel-control{{if contents.length < 2}} hidden{{/if}}" href="#carousel{{:~root.botBubbleId}}_{{:#getIndex()}}" role="button" data-slide="next">
	        <span class="glyphicon glyphicon-chevron-right arrow_carrot-right" aria-hidden="true"></span>
	        <span class="sr-only">Next</span>
	    </a>
	    
	    <!-- Indicators -->
	    <ol class="carousel-indicators{{if contents.length < 2}} hidden{{/if}}">
	    	{{for contents}}
	    	<li data-target="#carousel{{:~root.botBubbleId}}_{{:#parent.getIndex()}}" data-slide-to="{{:#index}}" {{if #index===0}}class="active"{{/if}}></li>
	    	{{/for}}
	    </ol>
	</div>
</div>