{{if contents}}
{{for contents}}
   <div class="item{{if #index===0}} active{{/if}}">
	{{for elements}}
		{{if type=="image"}}<img src="{{:value}}"/>
		{{else type=="link"}}<a class="btn-link" target="{{if target}}{{>target}}{{else}}_blank{{/if}}" href="{{>value}}" title="{{>title}}"><img src="{{:~root.contextpath}}css/img/ico-link.png" alt="">{{>title}}</a>
		{{else type=="buttons"}}
			{{if layout=="horizontal"}}
				<ul class="p-info"><li class="tag">
					{{for elements}}
						<button type="button" class="btn ellipsis" onclick="{{if type=="func"}}{{>value}}{{else}}{{:~root.functionName}}('{{:type}}', '{{>text}}', '{{if type=="web_url"}}{{:url}}{{else}}{{>value}}{{/if}}' );{{/if}}">
							{{if type=="web_url"}}
								<img src="{{:~root.contextpath}}css/img/ico-link.png" alt="">
					        {{/if}}
							{{:text}}
						</button>
					{{/for}}
				</li></ul>
			{{else}}
				{{for elements}}
					<button type="button" class="btn-link ellipsis" onclick="{{if type=="func"}}{{>value}}{{else}}{{:~root.functionName}}('{{:type}}', '{{>text}}', '{{if type=="web_url"}}{{:url}}{{else}}{{>value}}{{/if}}' );{{/if}}">
						{{if type=="web_url"}}
							<img src="{{:~root.contextpath}}css/img/ico-link.png" alt="">
				        {{/if}}
						{{:text}}
					</button>
				{{/for}}
			{{/if}}
		{{else type=="video"}}
			<video class="media-form" controls="" name="media">
				<source src="{{if text}}{{>text}}{{/if}}">
			</video>
		{{else type=="audio"}}
			<audio class="media-form" controls="" name="media">
				<source src="{{if text}}{{>text}}{{/if}}">
			</audio>
		{{else type=="iframe"}}
			<iframe src="{{if text}}{{>text}}{{/if}}"></iframe>
		{{else type=="text"}}<p>{{:text}}</p>
		{{else type=="expansion"}}
			<a href="{{>text}}" title="{{>filename}}" target="_target" download><button class="btn-link ellipsis"><i class="fa fa-download" aria-hidden="true"></i> {{:filename}}</button></a>
		{{else type=="carousel"}}
			{{include tmpl="carouselTmpl" /}}
		{{else type=="any"}}
			<p class="{{if key}}{{>key}}{{/if}}" >{{if value}}{{>value}}{{/if}}</p>
		{{else type=="tts"}}
			<audio controls="" name="tts" style="display:none;" data-text="{{>text}}" data-autoplay="{{:autoplay}}"></audio>
			{{if visibletext}}<p>{{>text}}</p>{{/if}}
		{{else}}
			<p class='{{if type=="title"}}title{{else type=="subtitle"}}subtitle{{/if}}' >{{:text}}</p>
		{{/if}}
	{{/for}}
  </div>
{{/for}}
{{/if}}