@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(../fonts/notosanskr.css);
@import url(./rich-response.css);

.chat-dialog { position: absolute; right: 0; width:501px;}
#chat-message .modal-title { cursor: pointer; text-decoration: none; color: #fff; max-width: 80%; line-height: 18px; display: inline-block; vertical-align: middle;}
#chat-message .modal-body { visibility: hidden; }


/* layout
-------------------------------------------*/
.chat-container .head { background-color:#2a5197; /* background-image: linear-gradient( to right, #09cded, #149ee4); */ height: 70px; border-top-left-radius: 10px; border-top-right-radius: 10px; position: relative;}
.chat-container .head .modal-title { font-size: 18px; }
.chat-container .chat-wrap { background: #fff;}

/* common
-------------------------------------------*/
strong { font-weight: 700;}
.hidden { display: none;}
.ico-bot a, .ico-bot a:active { width: 72px; height: 72px; display: inline-block; position: fixed; bottom: 50px; right: 50px; background: url(../img/ico-bot.gif) no-repeat 0 0; -webkit-box-shadow: 0 0 20px rgba(176,176,176,0.43); box-shadow: 0 0 20px rgba(176,176,176,0.43); border-radius: 35px; border: 1px solid #fff;}
input,
button,
input:focus,
button:focus,
a:focus { -webkit-box-shadow: none; box-shadow: none; outline: none;}

/* head
-------------------------------------------*/
.head { position: relative;}
h1.h1 { font-size: 18px; font-weight: 300; color: #fff; line-height: 70px; margin: 0 20px; float: left; display: inline-block; width: 90%;}
h1.h1 a { font-size: 18px!important; font-weight: 300!important; margin-top: 0; display:inline;}
.head > ul { position: absolute; right: 15px; list-style: none; line-height: 70px; vertical-align: middle; margin: 0;}
.head > ul > li {float: left;}
.head > ul > li + li { margin-left: 23px;}
.head > ul > li > a { line-height: 70px; display: inline-block; vertical-align: middle; cursor:pointer;}
.head > ul > li > a.ico-out {background: url(../img/ico-out.png) no-repeat 0 0; width:19px; height:26px;}

h1.h1 span { color: #deedf9; cursor: pointer;}
h1.h1 span::before { content: " | "; color: #aa9d8f;}

ul.bots { position: absolute; top: 70px; left: -379px; right: -15px; z-index: 2000; background: url(../img/bg-bots2.png); box-shadow: 0 3px 3px rgba(0,0,0,0.05); border-bottom: 1px solid #fff;}
ul.bots li { float: left; width: 125px; height: 126px;}
ul.bots li a { display: block; width: 100%; height: 100%;text-align: center; border: 1px solid #fff; border-left: none; border-bottom: none;  padding-top: 95px; position: relative; color: #464646; font-weight: 300;}
ul.bots li:nth-child(4) a { border-right: none;}
ul.bots li a:hover,
ul.bots li a:focus,
ul.bots li a:active,
ul.bots li a.active { background: #5abbec; color: #fff; text-decoration: none;}

ul.bots li a span.bot { position: absolute; width: 45px; height: 61px; background: url(../img/bg-bots2-bot.png) no-repeat center; top: 25px; left: 40px; z-index: 2001}
ul.bots li a span.type { position: absolute; display: block; width: 30px; height: 30px; top: 57px; right: 20px; z-index: 2002;}
ul.bots li a span.hospital { background: url(../img/bg-bots-type.png) no-repeat 0 0; }
ul.bots li a span.trafic { background: url(../img/bg-bots-type.png) no-repeat -30px 0; }
ul.bots li a span.weather { background: url(../img/bg-bots-type.png) no-repeat -60px 0; }
ul.bots li a span.movie { background: url(../img/bg-bots-type.png) no-repeat -90px 0; }

.navi { float: right; margin-right: 20px; margin-top: -40px;}
.ico-nav { display: block; width: 19px; height: 15px; background: url(../img/ico_nav.png) no-repeat 0 0;}
.ico-nav:hover,
.ico-nav:focus { background-position: 0 -15px;}
.navi .mn { border-radius: 10px; background: #fff; -webkit-box-shadow: 3px 3px 10px rgba(165,155,145,0.2); box-shadow: 3px 3px 10px rgba(165,155,145,0.2); position: absolute; top: 20px; left: -115px; min-width: 100px; padding: 0;}
.navi .mn li a { display: inline-block; padding: 0 19px; line-height: 30px; border-bottom: 1px solid #e4ebf0; font-size: 12px;}
.navi .mn li:first-child a { border-top-left-radius: 10px; border-top-right-radius: 10px;}
.navi .mn li:last-child a { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
.navi .mn li a:hover,
.navi .mn li a:focus { background: #f7f3ec; color: #846e56;}
.ico-close,
.ico-close:focus { display: block; width: 10px; height: 10px; background: url(../img/ico-close.png) no-repeat 0 0; position: absolute; right: 20px; top: 30px; z-index: 10;}
.ico-close:hover { background-position: 0 -10px;}

/* chat-wrap
-------------------------------------------*/
.chat-wrap .chat { padding: 30px 15px 10px 20px; overflow-x: hidden; overflow-y: auto; min-height: 400px; box-sizing: border-box; background: #f2f2f4; height:calc(100vh - 200px);}
.message {padding: 0px 15px 0px 15px; list-style: none; }
.message li { -webkit-transition: all .5s; transition: all .5s; position: relative; display: block;}
.message li:after,
.message li:before { content: ""; clear: both; display: block;}

.message li .bubble { clear: both; border-radius: 14px; font-size: 16px; font-weight: 300; padding: 12px; position: relative; max-width: 330px; line-height: 1.4; word-wrap: break-word;}
.message li .bubble.bubble2 { max-width: 415px;}

.message li.bot p { white-space: pre-wrap; word-break: break-all; }
.message li.bot p:last-child {margin-bottom:0;}
.message li.bot p.title { font-size: 16px; font-weight: 900; }
.message li.bot p.subtitle { font-size: 12px; }
.message li.bot img, .message li.bot video { max-width: 100%; height: auto;}
.message li.bot audio { max-width: 100%; }
.message li.bot .bubble { margin: 0 0 20px 49px; background: #fff; float: left; position: relative; border-top-left-radius: 0;}
.message li.bot .bubble .b-tail { background: url(../img/bubbletail_white.png) no-repeat; width: 18px; height: 20px; position: absolute; top: -8px; left: -5px; z-index: 10;}
.message li.bot .bubble ul { padding: 0px; }

.message li.bot .avata { width: 43px; height: 65px; float: left; position: absolute; top: 0; left: 0; background: url(../img/avata.jpg) no-repeat 0 0; background-size:43px;}
.message li.bot .avata.tts {background: url(../img/bot-play.gif) no-repeat 0 0; cursor:pointer;}
.message li.bot .avata.tts.active {background: url(../img/bot-active.gif) no-repeat 0 0; cursor:pointer;}
.message li.bot .avata.tts.active:hover {background: url(../img/bot-stop.gif) no-repeat 0 0; cursor:pointer;}
.message li.bot .name { font-size: 12px; font-weight: 300; color: #464646; padding-top: 11px; margin: 0 0 10px 49px;}
.message li.bot .time { font-size: 10px; color: #999898; position: absolute; bottom: 0;right: -50px;}
.message li.bot .time2 { font-size: 10px; color: #999898; position: absolute; bottom: -20px; left: 0;}

.message li.user .bubble { background: #7a8087; float: right; margin-bottom: 20px; border-top-right-radius: 0; color: #fff;}
.message li.user .bubble .b-tail { background: url(../img/bubbletail_red.png) no-repeat; width: 18px; height: 20px; position: absolute; top: -7px; right: -4px; z-index: 10;}
.message li.user .time { font-size: 10px; color: #999898; position: absolute; bottom: 0; left: -50px;}

.blank { margin-bottom: 20px;}

.write-form {position:relative; box-sizing: border-box; height: 70px; background: #fff; margin: 0; width: 100%; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
.write-form i { position:absolute; top:26px; left:8px; z-index:1; width:20px; height:20px;}
.write-form i.microphone {background: url(../img/microphone.png) no-repeat 0 0; cursor:pointer; background-size:20px; }
.write-form i.microphone.active {background: url(../img/microphone-active.gif) no-repeat 0 0; background-size:20px; }
.write-form i.microphone.disable {background: url(../img/microphone-disabled.png) no-repeat 0 0; pointer-events: none; background-size:20px;}
.write-form textarea {position:relative; box-sizing: border-box; margin: 12px 0; width:84%; outline: none; padding: 10px 20px 10px 30px; border: 1px solid #fff; font-family: 'Noto Sans KR', 'Nanum Gothic', "筌랃옙占쏙옙 �⑨옙占쏙옙", "占쏙옙占쏙옙", "Malgun Gothic", arial, sans-serif; line-height: 1.4; font-size: 16px; overflow: hidden;  resize: none; letter-spacing: -1px;}

.write-form .send { float: right; width: 43px; height: 43px; background: #fff; margin: 13px 10px; border-radius: 10px; color: #fff; font-size: 13px; font-weight: normal; text-align: center; cursor: pointer;}
.write-form .send span { display: inline-block; width: 43px; height: 19px; background: url(../img/ico-send.png) no-repeat 0 0; margin-top: 13px;}

#chat-textarea::-webkit-input-placeholder { color: #adadad; font-family: 'Nanum Gothic', "留묒� 怨좊뵓", "�룍��", "Malgun Gothic", arial, sans-serif; font-size: 15px; }
#chat-textarea::-moz-input-placeholder { color: #adadad; font-family: 'Nanum Gothic', "留묒� 怨좊뵓", "�룍��", "Malgun Gothic", arial, sans-serif; font-size: 15px; }
#chat-textarea:-moz-input-placeholder { color: #adadad; font-family: 'Nanum Gothic', "留묒� 怨좊뵓", "�룍��", "Malgun Gothic", arial, sans-serif; font-size: 15px; }
#chat-textarea:-ms-input-placeholder { color: #adadad; font-family: 'Nanum Gothic', "留묒� 怨좊뵓", "�룍��", "Malgun Gothic", arial, sans-serif; font-size: 15px; }

#chat-textarea:focus::-webkit-input-placeholder { color: transparent;}
#chat-textarea:focus::-moz-input-placeholder { color: transparent;}
#chat-textarea:focus:-moz-input-placeholder { color: transparent;}
#chat-textarea:focus:-ms-input-placeholder { color: transparent;}

.message.hospital li.bot .avata { background: url(../img/avata_set.png) no-repeat 0 0; }
.message.trafic li.bot .avata { background: url(../img/avata_set.png) no-repeat -43px 0; }
.message.weather li.bot .avata { background: url(../img/avata_set.png) no-repeat -86px 0; }
.message.movie li.bot .avata { background: url(../img/avata_set.png) no-repeat -129px 0; }


/* cover
-------------------------------------------*/
.cover {height: 900px; /*background-image: linear-gradient(340deg, #149ee4, #09cded );*/ background: url(../img/bg-main-b.png) no-repeat center; border-radius: 10px; position: relative; padding: 180px 60px 0 60px; }
.cover img.animation { margin-left: -75px;}
.cover .ico-close,
.cover .ico-close:hover,
.cover .ico-close:focus { display: block; width: 12px; height: 12px; background: url(../img/ico_main_close.png) no-repeat 0 0; position: absolute; right: 20px; top: 18px; z-index: 10;}

/* login
-------------------------------------------*/
.form-login input { border-radius: 25px; height: 50px; font-size: 16px; font-weight: 300; border: 1px solid #d4d4d4; background: #eee; padding-left: 30px; padding-right: 30px; width: 100%; margin-bottom: 10px; color: #6e7783; }
.form-login .dropdown { margin-bottom: 10px;}
.form-login input::placeholder { color: #aca8a8;}
.form-login input:-ms-input-placeholder { color: #aca8a8;}
.form-login input::-ms-input-placeholder { color: #aca8a8;}
.form-login .btn-dropdown { width: 100%; height: 50px; border: none; border-radius: 21px; text-align: left; padding-left: 30px; padding-right: 30px; font-size: 13px; font-weight: 800; color: #6e7783; background: #fff;}
.form-login .btn-dropdown:hover,
.form-login .btn-dropdown:focus { background: #e0e8ee;}
.form-login .btn-dropdown .caret { float: right; margin-top: 5px; border-top: 8px solid #97a2b0;}
.form-login .dropdown-menu-style { width:351px; padding: 0; position: absolute; top: 470px; left: 15px; z-index: 1000; float: left; margin: 2px 0 0; font-size: 13px; text-align: left; list-style: none; background: #fff; border: none; border-radius: 10px; -webkit-box-shadow: 0 3px 10px rgba(165,155,145,0.21); box-shadow: 0 3px 10px rgba(165,155,145,0.21);}
.form-login .dropdown-menu-style > li > a { display: block; padding: 0 30px; clear: both; font-weight: normal; line-height: 30px; color: #333; white-space: nowrap; border-bottom: 1px solid #e4ebf0;}
.form-login .dropdown-menu-style > li > a:last-child {border-bottom:none;}
.form-login .dropdown-menu-style > li > a:hover, .form-login .dropdown-menu-style > li > a:focus { background: #f7f3ec; color: #846e56; border-radius: 10px;}
.form-login .btn-login { width: 100%; height: 50px; text-align: center; border-radius: 25px; border: none; background: #272f38; color: #fff; font-size: 18px; font-weight: 300;  margin-top: 10px;}
.form-login .btn-login:hover { background: #272f38;}

/* etc
-------------------------------------------*/
.mb5 { margin-bottom: 5px;}


/* loading dot
-------------------------------------------*/
@keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(0.8, 0.8);
  }

  50% {
    opacity: 1;
    transform: scale(1, 1);
  }

  100% {
    opacity: .4;
    transform: scale(0.8, 0.8);
  }
}

.message li.bot .bubble .dots {
  text-align: center;
  width: 100%;
}
.message li.bot .bubble .dots .dot1 {
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: #000;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
  }
.message li.bot .bubble .dots .dot2 {
      animation: dot-keyframes 0.5s infinite ease-in-out;
    background-color: #000;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
    }
    
.message li.bot .bubble .dots .dot3 {
      animation: dot-keyframes 1s infinite ease-in-out;
    background-color: #000;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.ellipsis {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
